<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class="container">
 <app-header></app-header>
 <div class="col-lg-6 col-sm-12 left">
   <h2> This is Shopping List Area </h2>
   <app-shoppingl></app-shoppingl>
   <app-shoppingedit></app-shoppingedit>
 </div>
 <div class="col-lg-6 col-sm-12 right">
  <h2> This is Recipe Area </h2>
   <app-recipelist></app-recipelist>
   <app-recipeitem></app-recipeitem>
   <app-recipedetail></app-recipedetail>
 </div>
</div>
